doctype html
html( ng-app="aplicacion" )
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		script( type="text/javascript" src="/javascripts/angular.min.js" )
		script( type="text/javascript" src="/javascripts/foro.js" )
	body
		block content